@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');



*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    
   
}

#link{
   position: relative;
}


.clique{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, 1400%);
    font-size: 20px;
    text-shadow: 2px 2px 2px black;

   
}

body{
    background-color: black;
    
}
#fundo{
    background-image: url(bg3.gif);
}
audio{
    
    padding: 10px;
}


p{
    color: white;
    font-family: "Caveat", cursive;
    font-size: 1.2em;
    margin: 10px;
    text-indent: 15px;
    line-height: 30px;
    text-align: justify;

}

h1{
    color: white;
    font-family:  "Playwrite AU QLD", cursive;
    margin: 15px;
}

main{
    width: 80vw;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.884);
    
}

.foto2{
    margin: 50px 0px 50px 0px;
    width: 80vw;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 2px 9px 3px rgba(2, 110, 153, 0.377);
    
    
}

.foto2 > #bg > p {
  
   border-radius: 10px;
   font-size: 1.5em;
   line-height: 50px;
    text-indent: 0;
    padding: 10px;
    width: 70vw;
   
    background-color: rgba(0, 0, 0, 0.473);
    
}


#img2{
    background-image: url(fundo2.jpg);
    background-position: center right;
}